<section class="section-12-discuss-your-project gl-section gl-background-grey">
        <div class="gl-page-content">
            <div class="gl-line mod-line-end"></div>
            <h2 class="title gl-max-width">Обсудим ваш проект?</h2>
            <div class="text-wrapper gl-max-width">
                <p class="text">Давайте посмотрим, как быстро протестировать вашу идею, найти самых первых покупателей и
                    выпустить полноценный продукт на рынок.
                </p>
                <p class="text">
                    Оставьте контакты в поле ниже. Мы свяжемся с вами в течение рабочего дня.
                </p>
            </div>

            <form class="form-wrapper">
                <div class="input-wrapper gl-max-width">
                    <label class="gl-input-text">
                        <input type="text" placeholder="Введите телефон или e-mail">
                    </label>
                    <label class="gl-input-check">
                        <input type="checkbox" name="need-training">
                        <span class="gl-input-check-content">Получить обучающие материалы про MVP</span>
                    </label>
                </div>
                    <div class="btn-wrapper">
                        <button class="gl-btn">Отправить</button>
                    </div>
            </form>
        </div>
</section>