.section-12-discuss-your-project {

  .text-wrapper {
    margin-bottom: 60px;
  }

  .text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    @include for-sm-down {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 60px;
    align-items: start;
    max-width: 1120px;

    @include for-lg-down {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 80px;
    }

    @include for-sm-down {
      grid-row-gap: 60px;
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
  }
}