.section-7-video {
  background-color: #000;

  .video {
    height: 500px;
    width: 100%;
    object-fit: none;
    cursor: pointer;

    @include for-lg-down {
      height: 442px;
    }

    @include for-sm-down {
      height: 230px;
      object-fit: contain;
    }

    @include for-xs-down {
      height: 230px;
    }
  }
}