<section class="section-7-video">
    <div class="gl-page-content">
        <div class="section-video-content">
            <video class="video" id="video" poster="../../../assets/icons/section-7-video/poster.svg" controls>
                <source src="https://technaxis.com/showreel.mp4" type="video/mp4">
                <a href="https://technaxis.com/showreel.mp4" target="_blank">Перейти к просмотру видео</a>
            </video>
        </div>
    </div>
</section>