<section class="section-3-start gl-section">
    <div class="gl-page-content">
        <div class="gl-line mod-line-begin"></div>
        <div class="gl-max-width">
            <h2 class="title">С чего начать?</h2>
            <div class="table-wrapper">
                <div class="table-title table-padding">
                    Что нужно реализовать в первую очередь при создании стартапа?
                </div>
                <form action="" class="form-wrapper table-padding">
                        <label class="gl-input-radio">
                            <input type="radio" name="actions-at-startup">
                            <span class="gl-input-radio-content correct">Продажи</span>
                        </label>
                        <label class="gl-input-radio">
                            <input type="radio" name="actions-at-startup">
                            <span class="gl-input-radio-content incorrect">Приложение / сайт</span>
                        </label>
                </form>
            </div>
            <p class="text">
                Многие предприниматели или компании думают:
                Мобильное приложение или сайт — это готовый стартап.
            </p>
            <blockquote class="gl-quote">
                Код не может быть полноценным IT-продуктом.
            </blockquote>
            <p class="text">
                Как и любому бизнесу, стартапу требуются клиенты, продажи, потому что именно они приносят деньги.
                Приложение или
                веб-сервис — это лишь инструмент будущего бизнеса.
            </p>
            <blockquote class="gl-quote">
                Бизнес — это продажи.
            </blockquote>
        </div>
    </div>
</section>