.section-3-start {

  @include for-md-down {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title {
    margin-bottom: 60px;
  }

  .table-wrapper {
    max-width: 510px;
    border: 2px solid $border;
    border-radius: 20px;
    margin-bottom: 60px;

    @include for-bg-down {
      margin-bottom: 40px;
    }
  }

  .table-padding {
    padding: 0 50px;

    @include for-sm-down {
      padding: 0 22px;
    }
  }

  .table-title {
    font-size: 22px;
    line-height: 30px;
    border-bottom: 2px solid $border;
    padding-top: 24px;
    padding-bottom: 18px;

    @include for-sm-down {
      font-size: 18px;
      line-height: 25px;
      padding-top: 28px;
      padding-bottom: 18px;
    }
  }

  .form-wrapper {
    padding-top: 38px;
    padding-bottom: 50px;

    @include for-sm-down {
      padding-top: 30px;
      padding-bottom: 38px;
    }
  }

  .table-item:first-child {
    margin-bottom: 30px;
  }

  .text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;

    @include for-sm-down {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}