.gl-color-secondary-text {
  color: $secondary-text;
}

.gl-background-grey {
  background-color: $background-grey;
}

.gl-color-blue {
  color: $primary;
}

.background-blue {
  background-color: $primary;
}

.gl-color-light-blue {
  color: $primary-lite;
}