$main-text: #000000;
$secondary-text: #828282;
$dfl-focus-visible: rgba(0, 109, 236, .08);
$primary-lite: #4299ff;
$primary: #006dec;
$warn : #eb5757;
$border : #dedede;
$background-grey : #f9f9f9;

$section-padding-fl-up: 90px;
$section-padding-bg: 80px;
$section-padding-md: 70px;
$section-padding-sm: 60px;

$content-page-padding-fl-up: 200px;
$content-page-padding-fl: 120px;
$content-page-padding-bg: 80px;
$content-page-padding-md: 40px;
$content-page-padding-sm: 30px;
$content-page-padding-xs: 20px;

$ellipse-line-top: 110px;
$ellipse-line-left: -10px;
