.gl-section {
  padding-top: $section-padding-fl-up;
  padding-bottom: $section-padding-fl-up;

  @include for-bg-down {
    padding-top: $section-padding-bg;
    padding-bottom: $section-padding-bg;
  }

  @include for-md-down {
    padding-top: $section-padding-md;
    padding-bottom: $section-padding-md;
  }

  @include for-sm-down {
    padding-top: $section-padding-sm;
    padding-bottom: $section-padding-sm;
  }
}

.gl-page-content {
  padding-left: $content-page-padding-fl-up;
  padding-right: $content-page-padding-fl-up;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;

  @include for-fl-down {
    padding-left: $content-page-padding-fl;
    padding-right: $content-page-padding-fl;
  }

  @include for-bg-down {
    padding-left: $content-page-padding-bg;
    padding-right: $content-page-padding-bg;
  }

  @include for-md-down {
    padding-left: $content-page-padding-md;
    padding-right: $content-page-padding-md;
  }

  @include for-sm-down {
    padding-left: $content-page-padding-sm;
    padding-right: $content-page-padding-sm;
  }

  @include for-xs-down {
    padding-left: $content-page-padding-xs;
    padding-right: $content-page-padding-xs;
  }
}

.gl-max-width {
  max-width: 780px;
}

.gl-line {
  position: absolute;
  width: 2px;
  background-color: #353535;
  top: -($section-padding-fl-up);
  bottom: -($section-padding-fl-up);
  left: calc(#{$content-page-padding-fl-up} / 2);

  @include for-fl-down {
    left: calc(#{$content-page-padding-fl} / 2);
  }

  @include for-bg-down {
    left: calc(#{$content-page-padding-bg} / 2);
  }

  @include for-md-down {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    background-image: url('assets/icons/ellipse.svg');
    width: 22px;
    height: 22px;
    top: $ellipse-line-top;
    left: $ellipse-line-left;
    background-size: contain;
    background-color: #ffffff;
  }

  &.mod-line-begin {
    top: 16px;

    &:before {
      background-image: url('assets/icons/section-3-start/geo.svg');
      width: 32px;
      height: 32px;
      top: 0;
      left: -15px;
    }
  }

  &.mod-line-end {
    height: $ellipse-line-top;
  }

  &.mod-line-grey {
    &:before {
      background-color: $background-grey;
    }
  }
}

.gl-dfl-focus-visible {
  transition: .2s background-color;

  &:focus {
    background-color: $dfl-focus-visible;
  }

  &:active {
    background-color: inherit;
  }
}

h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
  margin-bottom: 30px;

  @include for-sm-down {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 38px;
  }

  @include for-xs-down {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 45px;
  }
}

h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 40px;

  @include for-sm-down {
    font-size: 40px;
    line-height: 50px;
  }

  @include for-xs-down {
    font-size: 30px;
    line-height: 38px;
  }
}

h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 40px;

  @include for-sm-down {
    font-size: 30px;
    line-height: 38px;
  }

  @include for-xs-down {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.gl-quote {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  padding: 15px 0 15px 40px;
  border-top: 2px solid $border;
  border-bottom: 2px solid $border;
  position: relative;
  margin-bottom: 40px;

  @include for-sm-down {
    font-size: 16px;
    line-height: 21px;
    padding-left: 32px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    content: '';
    position: absolute;
    background-image: url('assets/icons/section-3-start/quotation-marks.svg');
    width: 26px;
    flex: 0 0 26px;
    height: 58px;
    top: 0;
    left: 0;
    background-position: top 12px left;

    @include for-sm-down {
      width: 22px;
      flex: 0 0 22px;
      background-size: 16px;
    }
  }
}

.gl-item-list {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @include for-sm-down {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 24px;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 10px;
    height: 10px;
    background-color: $primary;
    border-radius: 100%;

    @include for-sm-down {
      top: 5px;
    }
  }
}

.gl-bold {
  font-weight: 800;
}

.gl-semibold {
  font-weight: 600;
}

.gl-normal {
  font-weight: 400;
}

.gl-text-nowrap {
  white-space: nowrap;
}

.gl-color-white {
  color: #ffffff;
}
