.gl-btn-round {
  background: linear-gradient(180deg, #479CFF 0%, #0277FF 99.98%, #439AFF 99.99%, $primary 100%);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  padding: 0 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;

  &:hover {
    background: #1F86ff;
  }

  &.mod-btn-white {
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    color: $primary;
    font-weight: 500;
  }

  @include for-sm-down {
    height: 44px;
    padding: 0 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
}

.gl-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  padding: 0 76px;
  background: $primary;
  border-radius: 15px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;

  @include for-sm-down {
    height: 50px;
    padding: 0 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  @include for-xxs-down {
    width: 100%;
  }

  &:hover {
    background: #0065db;
  }
}

.gl-input-radio {
  display: block;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gl-input-radio {
  input {
    display: none;
  }
}

.gl-input-radio-content {
  font-size: 28px;
  line-height: 36px;
  color: $primary;
  padding-left: 54px;
  position: relative;
  cursor: pointer;

  @include for-md-down {
    font-size: 24px;
    line-height: 30px;
    padding-left: 44px;
  }

  @include for-xs-down {
    font-size: 20px;
    line-height: 26px;
    padding-left: 34px;
  }
  @include for-xxs-down {
    padding-left: 30px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border: 3px solid $primary;
    border-radius: 100%;
    top: 4px;
    left: 0;
    background-position: center;

    @include for-md-down {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }

    @include for-xs-down {
      width: 20px;
      height: 20px;
      border-width: 2px;
      top: 3px;
    }
  }
}

.gl-input-radio {
  input {
    &:checked {
      + .gl-input-radio-content {
        &.correct {
          color: #27ae60;
          transition: 200ms;

          &:before {
            background-image: url('assets/icons/section-3-start/radio-correct.svg');
            border-color: #27ae60;
            background-color: #27ae60;
            transition: 200ms;
          }
        }

        &.incorrect {
          color: $warn;
          transition: 200ms;

          &:before {
            background-image: url('assets/icons/section-3-start/radio-incorrect.svg');
            border-color: $warn;
            background-color: $warn;
            transition: 200ms;
          }
        }
      }
    }
  }
}

.gl-input-text {
  margin-bottom: 20px;

  @include for-sm-down {
    margin-bottom: 18px;
  }

  @include for-xs-down {
    margin-bottom: 16px;
  }

  input {
    font-size: 22px;
    line-height: 30px;
    padding: 20px 36px;
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 10px;

    @include for-sm-down {
      font-size: 18px;
      line-height: 26px;
      padding: 18px 20px;
    }

    @include for-xs-down {
      font-size: 16px;
      line-height: 22px;
      padding: 15px 22px;
    }

    &:focus {
      border: 1px solid $primary;
      border-radius: 10px;
      transition: 100ms;
    }
  }
}

.gl-input-check {
  cursor: pointer;
  margin-left: 4px;

  input {
    display: none;

    &:checked {
      + .gl-input-check-content {
        &:before {
          background-position: center;
        }
      }
    }
  }
}

.gl-input-check-content {
  font-size: 18px;
  line-height: 36px;
  position: relative;
  padding-left: 38px;
  display: inline-block;

  @include for-sm-down {
    font-size: 16px;
    line-height: 22px;
    padding-left: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 24px;
    height: 24px;
    border: 3px solid #096dec;
    border-radius: 3px;
    background-image: url('assets/icons/checkbox.svg');
    background-position: left -40px;
    background-size: 24px;

    @include for-sm-down {
      top: -2px;
    }

    @include for-xs-down {
      top: 0;
      width: 16px;
      height: 16px;
      background-size: 16px;
    }
  }
}
