.section-1-header {
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-lg-down {
    padding-top: 42px;
  }

  @include for-sm-down {
    padding-top: 20px;
  }

  .logo {
    margin-bottom: 4px;
    height: 24px;

    @include for-xs-down {
      height: 18px;
    }

    @include for-xs-down {
      height: 12px;
    }
  }

  .logo-text {
    font-size: 14px;
    line-height: 17px;

    @include for-xs-down {
      font-size: 11px;
      line-height: 13px;
    }
  }

  .menu-item {
    margin-left: 40px;
    font-size: 16px;
    line-height: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  .burger-wrapper {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include for-xs-down {
      width: 24px;
      height: 24px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: 29px;
      height: 2px;
      background-color: #000000;

      @include for-xs-down {
        width: 18px;
        height: 1px;
      }
    }

    &:before {
      top: 10px;

      @include for-xs-down {
        top: 6px;
      }
    }

    &:after {
      bottom: 10px;

      @include for-xs-down {
        bottom: 6px;
      }
    }
  }

  .burger {
    width: 29px;
    height: 2px;
    background-color: #000000;

    @include for-xs-down {
      width: 18px;
      height: 1px;
    }
  }
}
