<section class="section-1-header gl-page-content">
  <div class="logo-wrapper">
    <img class="logo" alt="Technaxis" src='assets/icons/section-1-header/logo.svg'>
    <div class="logo-text gl-color-secondary-text">агенство продуктовой разработки</div>

  </div>

  <div class="menu-wrapper gl-lg-hide">
    <a href="" class="menu-item gl-dfl-focus-visible">С чего начать?</a>
    <a href="" class="menu-item gl-dfl-focus-visible">От идеи до продукта</a>
    <a href="" class="menu-item gl-dfl-focus-visible">Кто мы?</a>
    <a href="" class="menu-item gl-dfl-focus-visible">Стоимость</a>
  </div>

  <button class="burger-wrapper gl-lg-show">
    <span class="burger"></span>
  </button>
</section>
