.section-11-price {
  .text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 80px;

    @include for-hg-down {
      margin-bottom: 50px;
    }

    @include for-sm-down {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 40px;
    }
  }

  .scroll-wrapper {
    overflow: hidden;

    @include for-sm-down {
      margin: 0 -30px;
    }

    @include for-xs-down {
      margin: 0 -20px;
    }
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 60px;

    @include for-hg-down {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
    }

    @include for-md-down {
      grid-row-gap: 40px;
    }

    @include for-sm-down {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0 20px;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      padding-bottom: 100px;
      margin-bottom: -100px
    }
  }

  .grid-cell:first-child {
    @include for-sm-down {
      padding-left: 30px;
    }

    @include for-xs-down {
      padding-left: 20px;
    }
  }

  .grid-cell:last-child {
    @include for-sm-down {
      padding-right: 30px;
    }

    @include for-xs-down {
      padding-right: 20px;
    }
  }

  .card-wrapper {
    padding: 40px 30px;
    display: grid;
    grid-template-rows: auto 1fr auto auto auto;
    height: 100%;
    border: 1px solid $primary;
    border-radius: 10px;
    overflow: hidden;
    min-width: 230px;

    @include for-hg-down {
      padding: 40px 38px;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 80px;
    }

    @include for-sm-down {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      padding: 20px 14px;
    }
  }

  .caption-wrapper {
    margin-bottom: 50px;

    @include for-hg-down {
      margin-bottom: 0;
    }

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

  .caption {
    margin-bottom: 50px;

    @include for-hg-down {
      margin-bottom: 30px;
    }

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

  .sub-caption {
    font-size: 18px;
    line-height: 24px;

    @include for-sm-down {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .list-wrapper {
    margin-bottom: 50px;

    @include for-hg-down {
      margin-bottom: 14px;
    }

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

  .month {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    @include for-hg-down {
      margin-bottom: 2px;
    }

    @include for-sm-down {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }

  .cost {
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 50px;

    @include for-hg-down {
      margin-bottom: 0;
      align-items: center;
    }

    @include for-sm-down {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    &.mod-cost {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .gl-item-list {
    &.mod-dot-black {
      &:before {
        background-color: #000000;
      }
    }

    @include for-xs-down {
      margin-bottom: 10px;
      padding-left: 18px;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;

    @include for-hg-down {
      justify-content: flex-start;
      align-items: flex-end;
    }

    @include for-sm-down {
      justify-content: center;
    }
  }

  .caption {
    &.mod-caption {
      @include for-hg-down {
        margin-bottom: 0;
      }

      @include for-sm-down {
        margin-bottom: 20px;
      }
    }
  }

  .card-text {
    font-size: 22px;
    line-height: 30px;

    @include for-sm-down {
      font-size: 18px;
      line-height: 26px
    }
  }

  .plus {
    height: 30px;
    margin: 50px 0;

    @include for-hg-down {
      margin: 44px 0;
    }

    @include for-sm-down {
      height: 22px;
      margin: 32px 0;
    }
  }

  .cost-wrapper {
    margin-bottom: 50px;

    @include for-hg-down {
      margin-bottom: 0;
    }

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

}