<section class="section-11-price gl-section">
    <div class="gl-page-content">
        <div class="gl-line"></div>
        <h2 class="title">Стоимость</h2>
        <div class="text">
            Мы станем вашими руками и мозгами в создании MVP проекта. Сделаем полноценную аналитику и поможем
            сгенерировать гипотезы, которые проверим с помощью рынка и реальных пользователей
        </div>

        <div class="scroll-wrapper">
            <div class="grid-wrapper">
                <div class="grid-cell">
                    <div class="card-wrapper">
                        <div class="caption-wrapper">
                            <h3 class="caption gl-color-blue">Исследование</h3>
                            <div class="sub-caption">Комплексное исследование идеи вашего стартапа:</div>
                        </div>
                        <ul class="list-wrapper">
                            <li class="gl-item-list mod-dot-black">Исследование рынка</li>
                            <li class="gl-item-list mod-dot-black">Исследование конкурентов и смежных продуктов</li>
                            <li class="gl-item-list mod-dot-black">Портрет ЦА продукта</li>
                            <li class="gl-item-list mod-dot-black">Финансовый план проекта</li>
                        </ul>
                        <div class="month">1 месяц</div>
                        <div class="gl-sm-hide gl-hg-show"></div>
                        <div class="cost gl-color-blue">150 000 руб.</div>
                        <div class="btn-wrapper">
                            <button class="gl-btn-round">Оставить заявку</button>
                        </div>
                    </div>
                </div>

                <div class="grid-cell">
                    <div class="card-wrapper">
                        <div class="caption-wrapper">
                            <h3 class="caption gl-color-blue">Тестирование</h3>
                            <div class="sub-caption">Тестирование бизнес-модели в реалиях рынка:</div>
                        </div>
                        <ul class="list-wrapper">
                            <li class="gl-item-list mod-dot-black">УТП продукта</li>
                            <li class="gl-item-list mod-dot-black">Лендинг продукта</li>
                            <li class="gl-item-list mod-dot-black">Рекламные компании</li>
                            <li class="gl-item-list mod-dot-black">Контакты будущих покупателей</li>
                            <li class="gl-item-list mod-dot-black">Метрики и подтвержденная бизнес-модель</li>
                            <li class="gl-item-list mod-dot-black">CustDev и его результаты</li>
                        </ul>
                        <div class="month">1 месяц</div>
                        <div class="gl-sm-hide gl-hg-show"></div>
                        <div class="cost gl-color-blue">150 000 руб.</div>
                        <div class="btn-wrapper">
                            <button class="gl-btn-round">Оставить заявку</button>
                        </div>
                    </div>
                </div>

                <div class="grid-cell">
                    <div class="card-wrapper background-blue">
                        <h3 class="caption mod-caption gl-color-white">Все вместе</h3>
                        <div class="list-wrapper">
                            <div class="card-text gl-color-white">Комплексное исследование идеи вашего стартапа:
                            </div>
                            <img class="plus" src='assets/icons/section-11-price/plus.svg' alt="plus">
                            <div class="card-text gl-color-white">Тестирование бизнес-модели в реалиях рынка</div>
                        </div>
                        <div class="cost-wrapper">
                            <div class="month gl-color-white">2 месяца</div>
                            <del class="cost mod-cost gl-color-light-blue">300 000 руб.</del>
                            <div class="cost mod-cost gl-color-white">275 000 руб.</div>
                        </div>
                        <div class="btn-wrapper">
                            <button class="gl-btn-round mod-btn-white">Оставить заявку</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
