<section class="section-2-run-start-up">
    <div class="gl-page-content">
        <div class="content">
            <div class="image-plane-adapt-wrapper gl-lg-show">
                <img class="image-plane-adapt" alt="plane" src='assets/icons/section-2-run-start-up/plane-adapt.svg'>
            </div>

            <div class="content-wrapper gl-max-width">
                <h1 class="title">
                    Запустим ваш стартап
                    <span class="text-nowrap">за 2 месяца</span>
                </h1>
                <p class="text">
                    97% стартапов проваливаются после запуска, <span class="gl-color-secondary-text">так как сначала рисуют дизайн и
            запускают приложение, вместопроработки бизнеса. Чтобы этого не допустить с вашим стартапом, за 2 месяца мы</span>
                    превратим вашу идею в рабочую <span class="text-nowrap">бизнес-модель</span> <span
                        class="gl-color-secondary-text">и найдём первых клиентов.</span>
                </p>
                <div class="grid-block-wrapper">
                    <div class="grid-subtitle">Для вас мы:</div>
                    <div class="grid">
                        <div class="grid-item">
                            <div class="text grid-text">
                                Сделаем полное<br>
                                исследование рынка
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="text grid-text">
                                Просчитаем<br>
                                unit-экономику
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="text grid-text">
                                Составим<br>
                                бизнес-модель
                            </div>
                        </div>
                        <div class="grid-item">
                            <div class="text grid-text">
                                Протестируем ваш бизнес и<br>
                                каналы продаж на реальных<br>
                                пользователях
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="image-pale-wrapper gl-lg-hide">
                <img class="image-pale" alt="plane" src='assets/icons/section-2-run-start-up/plane.svg'>
            </div>
        </div>
    </div>
</section>