.section-2-run-start-up {
  padding-top: 157px;
  padding-bottom: 63px;

  @include for-lg-down {
    padding-top: 63px;
    padding-bottom: 67px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    @include for-lg-down {
      display: block;
    }
  }

  .image-plane-adapt-wrapper {
    display: flex;
    justify-content: flex-end;

    @include for-sm-down {
      justify-content: center;
    }
  }

  .image-plane-adapt {
    height: 115px;
    margin-bottom: 56px;
    margin-right: 56px;

    @include for-xs-down {
      height: 80px;
      margin-bottom: 60px;
      margin-right: 0;
    }
  }

  .content-wrapper {
    flex: 1 1 100%;

    @include for-lg-down {
      max-width: 100%;
    }
  }

  .text {
    font-size: 18px;
    line-height: 24px;

    @include for-sm-down {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .grid-block-wrapper {
    margin-top: 62px;

    @include for-lg-down {
      margin-top: 70px;
    }

    @include for-xs-down {
      margin-top: 45px;
    }
  }

  .grid-subtitle {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;

    @include for-xs-down {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 24px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 36px;

    @include for-xs-down {
      grid-template-columns: 1fr;
    }
  }

  .grid-item {
    position: relative;

    @include for-lg-down {
      padding-right: 0;
    }

    @include for-xxs-down {
      font-size: 16px;
      line-height: 22px;
    }

    &:nth-child(2) {
      @include for-xs-down {
        grid-area: 3;
      }
    }

    &:nth-child(3) {
      @include for-xs-down {
        grid-area: 2;
      }
    }
  }

  .grid-text {
    border-left: 4px solid $primary;
    padding: 4px 72px 4px 20px;
  }

  .image-pale-wrapper {
    height: 384px;
    flex: 0 0 30%;
  }

  .image-pale {
    width: 100%;
  }
}