<section class="section-4-code-price gl-section gl-background-grey">
    <div class="gl-page-content">
        <div class="gl-line mod-line-grey"></div>
            <h2 class="title">Сколько стоит код?</h2>
            <div class="block-computation gl-max-width">
                <p class="text">
                    Веб-студии, как правило, предлагают сделать технический прототип (первую версию сайта или
                    приложения) за
                    4-5 месяцев.
                </p>
                <div class="table-wrapper">
                    <div class="table-row-wrapper">
                        <div class="table-row">
                            <div class="table-caption big-margin">
                                Средняя стоимость разработки прототипа в России
                            </div>
                            <div class="costs-wrapper">
                                <div class="cost-text">
                                    от<span class="cost">600</span>тысяч рублей
                                </div>
                                <div class="cost-text">
                                    до<span class="cost">1,5</span>млн. рублей.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-row-wrapper">
                        <div class="table-row">
                            <div class="table-caption">
                                Средняя длительность разработки
                            </div>
                            <div class="costs-wrapper">
                                <div class="cost-text">
                                    от<span class="cost">4-5</span>месяцев
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text">
                    Но при этом веб-студия разработает вам только сайт или мобильное приложение, но не создаст вам
                    бизнес.
                </p>
            </div>

            <div class="info-wrapper">
                <div class="grid-wrapper">
                    <h3 class="subtitle">Почему это плохо?</h3>
                    <div class="gl-sm-hide"></div>
                    <div class="expense-caption">
                        Потрачены время и<br>
                        деньги, НО
                    </div>
                    <ul class="list-wrapper">
                        <li class="gl-item-list">Нет реальных пользователей</li>
                        <li class="gl-item-list">Нет понимания потребности клиентов</li>
                        <li class="gl-item-list">Бизнес-модель не сходится в реальных условиях рынка</li>
                        <li class="gl-item-list">Пока мы делали своё - конкуренты тоже развивались.</li>
                    </ul>
                </div>

                <div class="grid-wrapper">
                    <div class="subtitle-wrapper">
                        <h3 class="subtitle subtitle-no-margin">Как результат:</h3>
                    </div>
                    <p class="result-text text">
                        Только 15% таких проектов находят клиентов, и только 3% из них выходят на прибыль в
                        течении года. <span class="gl-semibold">97% — закрываются навсегда.</span>
                    </p>
                </div>
            </div>
    </div>
</section>