.section-4-code-price {

  .text {
    font-size: 18px;
    line-height: 25px;

    @include for-sm-down {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .table-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;

    @include for-sm-down {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .table-row-wrapper {
    padding-bottom: 28px;
    border-bottom: 2px solid $border;
    margin-bottom: 28px;

    @include for-xs-down {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 41px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .table-row {
    height: 100px;
    border-left: 8px solid $primary;
    padding-left: 32px;
    display: flex;
    align-items: center;

    @include for-xs-down {
      flex-direction: column;
      align-items: start;
      height: 100%;
      border-left-width: 4px;
      padding-left: 20px;
    }
  }

  .table-caption {
    font-size: 22px;
    line-height: 30px;
    max-width: 320px;
    margin-right: 60px;

    @include for-sm-down {
      font-size: 18px;
      line-height: 25px;
      max-width: 240px;
    }

    @include for-xs-down {
      margin-bottom: 20px;
    }
  }

  .big-margin {
    @include for-xs-down {
      margin-bottom: 30px;
    }
  }

  .cost-text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 14px;

    @include for-sm-down {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cost {
    font-size: 36px;
    line-height: 44px;
    margin: 0 9px;

    @include for-sm-down {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .text {
    font-size: 22px;
    line-height: 30px;

    @include for-sm-down {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .info-wrapper {
    margin-top: 110px;

    @include for-md-down {
      margin-top: 100px;
    }

    @include for-sm-down {
      margin-top: 80px;
    }
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-row-gap: 40px;
    margin-bottom: 110px;

    @include for-bg-down {
      grid-template-columns: 380px 1fr;;
    }

    @include for-md-down {
      grid-template-columns: 354px 1fr;
      margin-bottom: 100px;
    }

    @include for-sm-down {
      margin-bottom: 80px;
      grid-row-gap: 25px;
      grid-template-columns: 1fr;
    }

    &:last-child {
      margin-bottom: 0
    }
  }

  .subtitle-no-margin {
    margin-bottom: 0
  }

  .expense-caption {
    font-size: 22px;
    line-height: 30px;
    padding-left: 80px;
    background-image: url('assets/icons/section-4-code-price/money.svg');
    background-position: left top;

    @include for-sm-down {
      font-size: 18px;
      line-height: 25px
    }
  }
}