<section class="section-9-study gl-background-grey gl-section">
        <div class="gl-page-content">
            <div class="gl-line mod-line-grey"></div>
            <div class="title-wrapper">
                <h2 class="title">Исследование</h2>
                <div class="title-text">
                    Сделаем то, что 80% предпринимателей ошибочно пропускают на начальном этапе.
                </div>
            </div>

            <div class="grid-plates-wrapper">
                <div class="plate-wrapper">
                    <h3>Что сделаем?</h3>
                    <ul class="item-wrapper">
                        <li class="gl-item-list">Проведём исследование рынка</li>
                        <li class="gl-item-list">Выделим и проанализируем конкурентов</li>
                        <li class="gl-item-list">Составим портрет ЦА продукта</li>
                        <li class="gl-item-list">Подготовим финансовый план проекта (фин. модель, unit-экономика)</li>
                    </ul>
                </div>
                <div class="plate-wrapper">
                    <h3>Кто будет участвовать?</h3>
                    <ul class="item-wrapper">
                        <li class="gl-item-list">Product-manager</li>
                        <li class="gl-item-list">Бизнес-аналитик</li>
                        <li class="gl-item-list">Маркетолог</li>
                        <li class="gl-item-list">Технический директор</li>
                    </ul>
                </div>
                <div class="plate-wrapper">
                    <h3>Сколько длится?</h3>
                    <ul class="item-wrapper">
                        <li class="gl-item-list">1 месяц</li>
                    </ul>
                </div>
                <div class="plate-wrapper">
                    <h3>Что получите на выходе?</h3>
                    <ul class="item-wrapper">
                        <li class="gl-item-list">Понимание рынка и его перспектив</li>
                        <li class="gl-item-list">Понимание конкурентов и их методов работы</li>
                        <li class="gl-item-list">Портрет ваших будущих клиентов</li>
                        <li class="gl-item-list">Финансовый план и unit-экономику проекта</li>
                    </ul>
                </div>
            </div>
        </div>
</section>