.section-10-testing {

  .title-wrapper {
    margin-bottom: 80px;

    @include for-lg-down {
      margin-bottom: 40px;
    }
  }

  .title-text {
    font-size: 22px;
    line-height: 30px;

    @include for-lg-down {
      max-width: none;
    }

    @include for-sm-down {
      font-size: 18px;
      line-height: 26px
    }
  }

  .grid-plates-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 72px 80px;
    grid-template-areas:
            "do do participants"
            "time result result";

    @include for-hg-down {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px 46px;
      grid-template-areas:
              "do do"
              "participants time"
              "result result";
    }

    @include for-sm-down {
      grid-template-columns: 1fr;
      grid-gap: 40px 46px;
      grid-template-areas:
              "do"
              "participants"
              "result"
              "time";
    }
  }

  .plate-wrapper {
    background-color: #ffffff;
    border: 1px solid #979797;
    border-radius: 10px;
    min-height: 390px;
    padding: 50px 40px;

    @include for-sm-down {
      padding: 40px 20px;
      min-height: auto;
    }

    &:nth-child(1) {
      grid-area: do;
    }

    &:nth-child(2) {
      grid-area: participants;
    }

    &:nth-child(3) {
      grid-area: time;
    }

    &:nth-child(4) {
      grid-area: result;
    }
  }
}