<section class="section-10-testing gl-section">
    <div class="gl-page-content">
        <div class="gl-line"></div>
        <div class="title-wrapper">
            <h2 class="title">Тестирование бизнес-модели</h2>
            <div class="title-text">
                Рынок и реальные пользователи — единственные, кто может подтвердить потребность в продукте.
                Запустим реальную рекламную кампанию и пообщаемся с пользователями, соберем все нужные метрики для
                подтверждения бизнес-модели.
            </div>
        </div>

        <div class="grid-plates-wrapper">
            <div class="plate-wrapper">
                <h3>Что сделаем?</h3>
                <ul class="item-wrapper">
                    <li class="gl-item-list">Составим УТП продукта</li>
                    <li class="gl-item-list">Разработаем лендинг продукта</li>
                    <li class="gl-item-list">Запустим рекламные кампании</li>
                    <li class="gl-item-list">Соберем контакты будущих клиентов</li>
                    <li class="gl-item-list">Соберем метрики и подтвердим бизнес-модель</li>
                    <li class="gl-item-list">Проведем CustDev</li>
                    <li class="gl-item-list">Сформируем новые продуктовые гипотезы</li>
                </ul>
            </div>
            <div class="plate-wrapper">
                <h3>Кто будет участвовать?</h3>
                <ul class="item-wrapper">
                    <li class="gl-item-list">Product-manager</li>
                    <li class="gl-item-list">Бизнес-аналитик</li>
                    <li class="gl-item-list">Маркетолог</li>
                    <li class="gl-item-list">Технический директор</li>
                </ul>
            </div>
            <div class="plate-wrapper">
                <h3>Сколько длится?</h3>
                <ul class="item-wrapper">
                    <li class="gl-item-list">1 месяц</li>
                </ul>
            </div>
            <div class="plate-wrapper">
                <h3>Что получите на выходе?</h3>
                <ul class="item-wrapper">
                    <li class="gl-item-list">Первых клиентов</li>
                    <li class="gl-item-list">Реальные цифры с рынка: CAC, конверсии и т.д</li>
                    <li class="gl-item-list">Маркетинговый отчет по рекламным компаниям</li>
                    <li class="gl-item-list">Подтверждение бизнес-модели</li>
                    <li class="gl-item-list">Список будущих гипотез</li>
                </ul>
            </div>
        </div>
    </div>
</section>