.section-8-development-cycle {

  .title {
    @include for-sm-down {
      margin-bottom: 56px;
    }
  }

  .subtitle {
    margin-bottom: 60px;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
  }

  .steps-image {
    margin-right: 90px;

    @include for-lg-down {
      display: none;
    }
  }

  .item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

  .item-count {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    margin-right: 30px;
    width: 52px;
    flex: 0 0 52px;

    @include for-sm-down {
      font-size: 35px;
      line-height: 42px;
      width: 46px;
      flex: 0 0 46px;
    }

    @include for-xs-down {
      font-size: 30px;
      line-height: 36px;
      width: 38px;
      flex: 0 0 38px;
    }

    &:not(.gl-color-blue) {
      color: #e4e4e4;
    }
  }

  .item-text {
    font-size: 22px;
    line-height: 30px;

    @include for-sm-down {
      font-size: 20px;
      line-height: 28px;
    }

    @include for-xs-down {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .caption-asterisk {
    font-size: 18px;
    line-height: 22px;
    margin-top: 64px;

    @include for-sm-down {
      margin-top: 50px;
    }
  }
}