<section class="section-8-development-cycle gl-section">
    <div class="gl-page-content">
        <div class="gl-line"></div>
        <h2 class="title">Полный цикл разработки IT-продукта</h2>
        <h3 class="subtitle gl-xs-hide">Шаги для работы с нами:</h3>
        <div class="content-wrapper">
            <img class="steps-image" src='assets/icons/section-8-development-cycle/steps.svg' alt="steps-img">
            <div class="steps-list-wrapper">
                <ul class="steps-list">
                    <li class="item">
                        <div class="item-count">01</div>
                        <div class="item-text">
                            Обсуждение идеи продукта по телефону или в офисе
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-count">02</div>
                        <div class="item-text">
                            Составление видения продукта / <span class="gl-text-nowrap">1 день</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-count gl-color-blue">03</div>
                        <div class="item-text gl-semibold">
                            Исследование рынка и конкурентов / <span class="gl-text-nowrap">1 месяц</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-count gl-color-blue">04</div>
                        <div class="item-text gl-semibold">
                            Тестирование бизнес модели и каналов продаж / <span class="gl-text-nowrap">1 месяц</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-count">05</div>
                        <div class="item-text">
                            Составление Roadmap проекта и списка гипотез / <span class="gl-text-nowrap">1-2 недели</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-count">06</div>
                        <div class="item-text">
                            Разработка технического MVP / <span class="gl-text-nowrap">2-3 месяца</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-count">07</div>
                        <div class="item-text">
                            Тестирование MVP / <span class="gl-text-nowrap">1-2 месяца</span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item-count">08</div>
                        <div class="item-text">
                            Разработка и развитие продукта / итерациями по  <span class="gl-text-nowrap">1 месяцу</span>
                        </div>
                    </li>
                </ul>
                <div class="caption-asterisk">
                    * Ваша идея принадлежит только вам и будет охраняться договором-NDA (соглашение о неразглашении).
                </div>
            </div>
        </div>
    </div>
</section>