.section-6-we {

  .text {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;

    @include for-sm-down {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 80px;
    }
  }

  .grid-wrapper {
    margin-bottom: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;

    @include for-lg-down {
      grid-template-columns: 1fr 1fr;
    }

    @include for-sm-down {
      grid-gap: 40px;
    }

    @include for-xs-down {
      grid-gap: 30px 20px;
    }
  }

  .grid-cell {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      top: 0;
      left: -24px;
      bottom: 0;
      background-color: $primary;
      opacity: 0;
      transition: .2s all;
    }

    &:hover {
      &:before {
        opacity: 1;

        @include for-lg-down {
          opacity: 0;
        }
      }
    }
  }

  .cell-count {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 6px;

    @include for-sm-down {
      font-size: 40px;
      line-height: 50px;
    }

    @include for-xs-down {
      font-size: 30px;
      line-height: 38px;
    }
  }

  .grid-text {
    font-size: 22px;
    line-height: 30px;

    @include for-sm-down {
      font-size: 20px;
      line-height: 26px;
    }

    @include for-xs-down {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    padding: 14px 64px 14px 20px;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 10px;
    background-image: url('assets/icons/section-6-we/right-arrow.svg');
    background-position: center right 24px;

    &:hover {
      text-decoration: none;
    }

    @include for-sm-down {
      font-size: 20px;
      line-height: 28px;
      padding: 8px 52px 8px 20px;
    }

    @include for-xs-down {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
    }
  }
}
