<section class="section-6-we gl-section gl-background-grey">
    <div class="gl-page-content">
        <div class="gl-line mod-line-grey"></div>
        <h2 class="title">Кто мы?</h2>
        <p class="text">Мы — агентство продуктовой разработки Технаксис.</p>
        <div class="grid-wrapper">
            <div class="grid-cell">
                <div class="cell-count">3 года</div>
                <div class="grid-text">на рынке</div>
            </div>
            <div class="grid-cell">
                <div class="cell-count">20+</div>
                <div class="grid-text">запущенных стартапов</div>
            </div>
            <div class="grid-cell">
                <div class="cell-count">100+</div>
                <div class="grid-text">упоминаний в СМИ</div>
            </div>
            <div class="grid-cell">
                <div class="cell-count">3</div>
                <div class="grid-text">социальных проекта</div>
            </div>
            <div class="grid-cell">
                <div class="cell-count">20</div>
                <div class="grid-text">разработчиков разных направлений в команде</div>
            </div>
            <div class="grid-cell">
                <div class="cell-count">20 000</div>
                <div class="grid-text">регистраций за 1 день на нашей платформе</div>
            </div>
            <div class="grid-cell">
                <div class="cell-count">
                    <span class="gl-xs-hide">6 000 000</span>
                    <span class="gl-xs-show">6 млн</span>
                </div>

                <div class="grid-text">строк кода</div>
            </div>
            <div class="grid-cell">
                <div class="cell-count">63 000</div>
                <div class="grid-text">часов разработки, дизайна и менеджмента
                </div>
            </div>
            <div class="grid-cell gl-lg-hide">
                <div class="cell-count">40 000</div>
                <div class="grid-text">задач выполнено</div>
            </div>
        </div>
        <div class="btn-wrapper">
            <a class="btn" href="https://technaxis.com/portfolio.pdf">Презентация</a>
        </div>
    </div>
</section>