.section-5-idea-product {

  .text {
    font-size: 18px;
    line-height: 25px;

    @include for-sm-down {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .wrong-wrapper {
    margin-top: 110px;

    @include for-sm-down {
      margin-top: 80px;
    }
  }

  .subtitle-wrong {
    color: $warn;
    margin-bottom: 40px;

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

  .image-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include for-xs-down {
      margin-top: 40px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .img-wrapper {
    display: flex;
    justify-content: flex-end;

    @include for-xs-down {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(1) {
      @include for-xs-down {
        width: auto;
      }
    }

    &:nth-child(2) {
      @include for-xs-down {
        width: 36%;
      }
    }

    &:nth-child(3) {
      @include for-xs-down {
        width: 70%;
      }
    }

    &:nth-child(4) {
      @include for-xs-down {
        width: 100%;
      }
    }
  }

  .img-wrapper:nth-child(2).img-wrapper-tip {
    @include for-xs-down {
      width: 43%;
    }
  }

  .image-wheel {
    height: 24px;

    @include for-xxs-down {
      height: 18px;
    }
  }

  .image-wheels {
    height: 24px;

    @include for-xxs-down {
      height: 19px;
    }
  }

  .image-body-car {
    height: 43px;
    margin-bottom: 10px;

    @include for-xxs-down {
      height: 32px;
      margin-bottom: 0;
    }
  }

  .image-car {
    height: 52px;

    @include for-xxs-down {
      height: 40px;
    }
  }

  .task-wrapper {
    margin-top: 110px;

    @include for-sm-down {
      margin-top: 80px;
    }
  }

  .subtitle-task {
    margin-bottom: 40px;

    @include for-sm-down {
      margin-bottom: 20px;
    }
  }

  .task-text-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;

    @include for-sm-down {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }
  }

  .task-text-margin {
    margin-bottom: 12px;

    @include for-sm-down {
      margin-bottom: 6px;
    }
  }

  .skateboard {
    height: 26px;

    @include for-xxs-down {
      height: 18px;
    }
  }

  .bicycle {
    height: 54px;

    @include for-xxs-down {
      height: 38px;
    }
  }

  .moped {
    height: 78px;

    @include for-xxs-down {
      height: 54px;
    }
  }

  .car {
    height: 52px;

    @include for-xxs-down {
      height: 36px;
    }
  }
}