<section class="section-5-idea-product gl-section ">
    <div class="gl-page-content">
        <div class="gl-line"></div>
        <div class="gl-max-width">
            <h2 class="title">От идеи до продукта</h2>
            <p class="text">
                MVP (от англ. minimum viable product) — прототип продукта с минимальными функциями, который помогает
                получить
                первых клиентов и сделать
                первые продажи.
            </p>
            <div class="wrong-wrapper">
                <h3 class="subtitle-wrong">Ошибка многих:</h3>
                <p class="text">
                    Думать, что MVP — это сайт или мобильное приложение.
                    Эта одна из тех глобальных ошибок, которые рушат зарождающийся стартап на корню. Дело в том, что
                    запускать бизнес без тщательной и предварительной проработки самого бизнеса - затея, обреченная на
                    провал.
                </p>
                <div class="image-wrapper">
                    <div class="img-wrapper">
                        <img class="image-wheel" src='assets/icons/section-5-idea-product/wrong-1.svg' alt="wrong-1">
                    </div>
                    <div class="img-wrapper">
                        <img class="image-wheels" src='assets/icons/section-5-idea-product/wrong-2.svg' alt="wrong-2">
                    </div>
                    <div class="img-wrapper">
                        <img class="image-body-car" src='assets/icons/section-5-idea-product/wrong-3.svg' alt="wrong-3">
                    </div>
                    <div class="img-wrapper">
                        <img class="image-car" src='assets/icons/section-5-idea-product/wrong-4.svg' alt="wrong-4">
                    </div>
                </div>
            </div>

            <div class="task-wrapper">
                <h3 class="subtitle-task">Наша задача:</h3>
            </div>
            <div class="task-text-wrapper">
                <div>
                    <p class="text">
                        Не дать вам попасть в те 97% провалившихся стартапов и уберечь
                        от ненужных трат.
                        Поэтому в начале мы предлагаем разобраться с бизнес составляющей будущего стартапа: исследовать
                        рынок и
                        конкурентов, проработать гипотезы, оценить ЦА, и только потом писать код.
                    </p>
                </div>
                <div>
                    <p class="text task-text-margin">Такой подход резко уменьшает шанс невостребованности конечного
                        продукта и потери
                        потраченных на разработку ресурсов.
                    </p>
                    <p class="text">Мы собрали лучшие практики для быстрого тестирования вашей бизнес-идеи. И готовы
                        предоставить его для вас.</p>
                </div>
            </div>
            <div class="image-wrapper">
                <div class="img-wrapper">
                    <img class="skateboard" src='assets/icons/section-5-idea-product/task-1.svg' alt="wrong-1">
                </div>
                <div class="img-wrapper img-wrapper-tip">
                    <img class="bicycle" src='assets/icons/section-5-idea-product/task-2.svg' alt="wrong-2">
                </div>
                <div class="img-wrapper">
                    <img class="moped" src='assets/icons/section-5-idea-product/task-3.svg' alt="wrong-3">
                </div>
                <div class="img-wrapper">
                    <img class="car" src='assets/icons/section-5-idea-product/task-4.svg' alt="wrong-4">
                </div>
            </div>
        </div>
    </div>
</section>