.section-13-footer {
  border-top: 1px solid $border;
  padding: 34px 0 48px;

  @include for-lg-down {
    padding: 32px 0 26px;
  }

  @include for-sm-down {
    padding: 40px 0 20px;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    @include for-lg-down {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }

    @include for-sm-down {
      grid-template-columns: 1fr;
    }
  }

  .item-wrapper, .caption {
    margin-bottom: 15px;

    @include for-sm-down {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .item-wrapper {
    &:first-child {
      @include for-sm-down {
        margin-bottom: 30px;
      }
    }

    &.mod-margin-item {
      margin-bottom: 8px;
    }
  }

  .item {
    font-size: 22px;
    line-height: 30px;

    @include for-sm-down {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .caption {
    font-size: 18px;
    line-height: 24px;

    @include for-sm-down {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .cell-wrapper.copyright {
    display: flex;
    align-items: flex-end;

    @include for-lg-down {
      grid-area: 3;
    }

    @include for-sm-down {
      grid-area: 6;
    }
  }
}