<section class="section-13-footer gl-background-grey">
    <div class="gl-page-content">
        <div class="content-wrapper">
            <div class="cell">
                <div class="item-wrapper">
                    <a class="item" href="https://technaxis.com/portfolio.pdf">Портфолио</a>
                </div>
                <div class="item-wrapper">
                    <a class="item" href="https://technaxis.com/">Сайт</a>
                </div>
            </div>
            <div class="cell-wrapper">
                <div class="caption gl-color-secondary-text">Контакты</div>
                <div class="item-wrapper">
                    <a class="item" href="tel:88432122072">+ 7 (843) 212-20-72</a>
                </div>
            </div>
            <div class="cell-wrapper">
                <div class="caption gl-color-secondary-text">Адрес</div>
                <div class="item">
                    420012, Россия, <span class="gl-text-nowrap">г. Казань,</span> <span class="gl-text-nowrap">ул. Некрасова,</span>
                    <span class="gl-text-nowrap">д. 21,</span> <span class="gl-text-nowrap">офис 501</span></div>
            </div>
            <div class="cell-wrapper copyright">
                <div class="caption gl-color-secondary-text">© teсhnaxis, 2020</div>
            </div>
            <div class="cell-wrapper">
                <div class="caption gl-color-secondary-text">Mail</div>
                <div class="item-wrapper mod-margin-item">
                    <a class="item" href="">sales@technaxis.com</a>
                </div>
                <div class="item-wrapper">
                    <a class="item" href="">info@technaxis.com</a>
                </div>
            </div>
        </div>
    </div>
</section>